{
    "env": {
      "development": {
        "presets": [
          "env"
        ]
      },
      "production": {
        "presets": [
          "env"
        ]
      },
      "test": {
        "presets": [
          "env"
        ]
      },
      "es": {
        "presets": [
          ["env", { "modules": false }]
        ]
      }
    }
  }